<header class="default-header">
	<div class="row align-items-center">
		<div class="col-3">
	<img class="logo" src="http://placehold.it/100x100">

<h1 class="site-heading">Wirt<br>Properties</h1>
</div>
<div class="col-6 text-center">
	<nav class="site-nav">
		<ul class="nav-list">
			<a href=""><li class="nav-item">Blogs</li></a>
			<a href=""><li class="nav-item">Listings</li></a>
			<a href=""><li class="nav-item">Agents</li></a>
			<a href=""><li class="nav-item">About</li></a>
		</ul>
	</nav>
</div>
<div class="col-3">
	<button type="button" class="btn float-right contact-us">CONTACT US</button>
	</div>
</div>
</header>